name: CI

on:
  push:
  pull_request_target:
    types: [labeled] 

jobs:
  ci:
    name: "CI ${{ matrix.os }} / PHP ${{ matrix.php-version }}"
    runs-on: "${{ matrix.os }}"
    if: >
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'pr approved'))
        || github.event_name == 'push'
    
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04"]
        php-version: ["7.4", "8.0", "8.1", "8.2"]

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Composer install"
        uses: "php-actions/composer@v6"
        with:
          php_version: "${{ matrix.php-version }}"

      - name: "Authenticate to Google Cloud"
        id: "gcp-auth"
        uses: "google-github-actions/auth@v2"
        with:
          token_format: "access_token"
          workload_identity_provider: "${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}"
          service_account: "${{ secrets.SERVICE_ACCOUNT }}"

      - name: "Get secrets"
        id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v2"
        with:
          secrets: |-
            SDK_TEST_CREDENTIALS:projects/${{ secrets.GCP_PROJECT_NAME }}/secrets/SDK_TEST_CREDENTIALS

      - name: "Create config"
        env:
          SDK_TEST_CREDENTIALS: "${{ steps.secrets.outputs.SDK_TEST_CREDENTIALS }}"
        run: |
          cat << EOF > tests/config.php
          <?php

          define('USERNAME', '$(jq -r .username <<< ${SDK_TEST_CREDENTIALS})');
          define('PASSWORD', '$(jq -r .password <<< ${SDK_TEST_CREDENTIALS})');
          EOF

      - name: "PHPUnit Tests"
        uses: "php-actions/phpunit@v3"
        with:
          bootstrap: "vendor/autoload.php"
          args: "tests"
          version: "composer"
          php_version: "${{ matrix.php-version }}"
